<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name="app.dominio.testing.Opciones.DatosMaestros"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.Chat"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.LoginMaestros"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.DisplayUsuarios"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.Inicio_Maestros"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.RegistroMaestro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.dominio.testing.DisplayMaestros"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.dominio.testing.Opciones.MainActivity3"
            android:exported="false" />
        <activity
            android:name="app.dominio.testing.Registro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.dominio.testing.Inicio"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.dominio.testing.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>